* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #0f0f0f;
}
.image-grid {
  columns: 4;
  gap: 10px;
  width: 100%;
}

@media (max-width: 1024px) {
  .image-grid {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .image-grid {
    columns: 2;
  }

  .main-content {
    padding: 1.5rem !important;
  }

  .header-inner {
    padding: 1.5rem !important;
  }

  .footer-inner {
    padding: 1.5rem !important;
  }
}



         /*change this for how many columns you want on mobile  ex: columns: 2; if you want 2 */
@media (max-width: 480px) { 
  .image-grid {
    columns: 2;
  }
}